@import url("/style/universal.css");
@import url("/style/standard.css");

h2 {
    text-align: center;
    font: 500 28px var(--serif);
    color: var(--content);
    margin: 48px 72px 6px 72px;
}

.volume {
    display: block;
    text-align: center;
    font: 14px var(--sans);
    color: var(--gray);
    margin-bottom: 48px;
}

.section {
    & h3 {
        font: bold 18px var(--serif);
        color: var(--content);
        margin-left: 24px;
        margin-bottom: 18px;
    }
}

.divider {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .line {
        width: 144px;
        border-bottom: 1px solid var(--content);
    }

    &+.section {
        margin-top: 48px;
    }
}

.textline:not(:last-child) {
    margin-bottom: 12px;
}

.retro {
    position: relative;
    padding: 12px 0;
    border-width: 1px 0;
    border-color: var(--gray);
    border-style: solid;
    background: var(--shadow);

    & h3 {
        font-style: italic;
    }

    & .retro-timestamp {
        margin-left: 24px;
        margin-bottom: 3px;
        font: 11px var(--sans);
        color: var(--gray);
    }
}

.body {
    position: relative;

    &>.lines>.textline, & .retro .textline {
        margin-left: 24px;
        margin-right: 24px;
        font: 14px var(--serif);
        line-height: 21px;
        position: relative;
        opacity: 1;
        transition: 0.2s opacity;

        &:not(.shown-comm) {
            color: var(--content);
        }
    }

    & .timestamp {
        font: 11px var(--sans);
        color: var(--gray);
        position: absolute;
        bottom: 100%;
        left: 24px;
    }

    & .aside {
        padding: 6px 24px;
        font: 14px var(--serif);
        line-height: 21px;
        color: var(--content);
        background: var(--shadow);
        margin-top: 12px;
        border-width: 1px 0;
        border-color: var(--gray);
        border-style: solid;
        text-align: center;
        opacity: 1;
        transition: 0.2s opacity;
        margin-bottom: 12px;
    }

    & .note {
        padding: 6px 0 6px 12px;
        margin: 12px 24px 0 24px;
        border-left: 1px solid var(--gray);
        font: 14px var(--serif);
        line-height: 21px;
        color: var(--content);
        font-style: italic;
        opacity: 1;
        transition: 0.2s opacity;
        margin-bottom: 12px;

        & .note-desc {
            margin-bottom: 0;
            font: 11px var(--sans);
            color: var(--gray);
            font-style: normal;
            margin-bottom: 6px;
        }

        & i {
            font-style: normal;
        }
    }
}

comm {
    display: inline;
    border-bottom: 1px solid var(--gray);
}

err {
    display: inline;
    border-bottom: 1px solid var(--redgray);
}

.comm {
    display: none;
    opacity: 0;
    transition: 0.2s opacity;
    margin: 0 24px 12px 24px;

    & .comm-date {
        font: 11px var(--sans);
        color: var(--gray);
        margin-bottom: 6px;
    }
    
    & ol {
        margin-left: 36px;
        list-style: none;
        counter-reset: item;
        font: 14px var(--serif);
    }
      
    & ol li {
        counter-increment: item;
        position: relative;
        color: var(--content);
        margin-bottom: 12px;

        &::before {
            content: counter(item) ".";
            position: absolute;
            left: -1.5em;
            color: var(--gray);

        }
    }
}

body:has(.shown-comm) {
    & .textline, .note, .aside, .img, .retro {
        &:not(.shown-comm) {
            opacity: 0;
        }
    }

    .comm .textline {
        opacity: 1;
    }

    & .shown-comm {
        color: var(--gray);

        & comm, & err {
            color: var(--content);
            border: none;
        }
    }
}

.img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px 0;
    border-width: 1px 0;
    border-color: var(--gray);
    border-style: solid;
    padding: 12px 0;
    background: var(--shadow);
    opacity: 1;
    transition: 0.2s opacity;

    & img {
        width: calc(100% - 96px);
        border: 1px solid var(--content);
        display: none;
        opacity: 0;
        transition: opacity 0.1s ease;
        margin-bottom: 6px;
    }

    & .caption {
        font: 11px var(--sans);
        color: var(--content);
        text-align: center;
        padding: 0 24px;
    }

    & .open {
        font: 11px var(--sans);
        color: var(--gray);
        text-align: center;
    }
}

#sectionnav {
    flex-shrink: 1;
}

#topnav2 {
    margin-top: 1px;
    padding: 6px;
    text-align: center;
    opacity: 1;
    transition: opacity 0.1s;
    flex-basis: auto;
    flex-shrink: 0;

    & a {
        margin: 0 12px;
        font: 11px var(--sans);
        color: var(--content);
    }
}

.open-comments {
    color: var(--gray);
}

#thread {
    margin: 12px 0;
    width: 100vw;
    border-width: 1px 0;
    border-color: var(--gray);
    border-style: solid;

    & #comment-loading {
        background: var(--shadow);
        text-align: center;
        font: 14px var(--sans);
        color: var(--gray);
        padding: 6px 24px;
    }

    & #comments {
        & #no-comments {
            background: var(--shadow);
            text-align: center;
            font: 14px var(--sans);
            color: var(--gray);
            padding: 6px 24px;
        }

        & #some-comments {
            background: var(--shadow);
            text-align: left;
            font: 14px var(--sans);
            color: var(--gray);
            padding: 6px 24px;
        }

        & .hidden {
            background: var(--shadow);
            text-align: center;
            font: 14px var(--sans);
            color: var(--gray);
            padding: 6px 24px;

            & .unremove {
                font: 11px var(--sans);
                color: var(--gray);
                flex-grow: 1;
                text-align: center;
            }
        }

        & .comment {
            padding: 6px 24px;
            position: relative;

            & .text {
                font: 14px var(--sans);
                color: var(--content);
                margin-bottom: 6px;
            }

            & .info {
                display: flex;
                font: 11px var(--sans);
                color: var(--gray);
                gap: 12px;

                & .user-controls {
                    color: var(--content);
                    flex-grow: 1;
                    text-align: right;
                    display: inline-flex;
                    gap: 12px;
                    flex-direction: row-reverse;
                }
            }

            & #close-comments {
                font: 11px var(--sans);
                color: var(--gray);
                text-align: right;
                position: absolute;
                top: 6px;
                right: 24px;
            }

            &+.comment {
                border-top: 1px solid var(--gray);
            }
        }

        & .editing {
            background: var(--shadow);
        }
    }

    & #comment-input {
        border-top: 1px solid var(--gray);
        padding: 12px 24px;

        #comment-instructions {
            font: 11px var(--sans);
            color: var(--gray);
            margin-bottom: 6px;
        }

        & textarea {
            background: var(--shadow);
            border: 1px solid var(--content);
            color: var(--content);
            font: 14px var(--sans);
            padding: 6px 12px;
            resize: none;
            height: 80px;
            overflow-y: auto;
            overflow-x: hidden;
            resize: none;
            width: 100%;

            &::placeholder {
                color: var(--gray);
            }
        }
    }
}

@media screen and (min-width: 600px) {
    h2 {
        font-size: 40px;
        margin: 96px 144px 12px 144px;
    }

    .volume {
        font-size: 20px;
        margin-bottom: 96px;
    }

    .section {
        & h3 {
            font-size: 25px;
            margin-left: 48px;
            margin-bottom: 36px;
        }
    }

    .divider {
        margin-top: 96px;

        & .line {
            width: 288px;
        }

        &+.section {
            margin-top: 96px;
        }
    }

    .textline:not(:last-child) {
        margin-bottom: 24px;
    }

    .retro {
        padding: 24px 0;
    
        & .retro-timestamp {
            margin-left: 48px;
            margin-bottom: 6px;
            font-size: 15px;
        }
    }

    .body {
        &>.lines>.textline, & .retro .textline {
            margin-left: 48px;
            margin-right: 48px;

            font-size: 20px;
            line-height: 30px;
        }

        & .timestamp {
            font-size: 15px;
            left: 48px;
        }

        & .aside {
            padding: 12px 48px;
            font-size: 20px;
            line-height: 30px;
            margin-top: 24px;
            border-width: 1px;
            margin-bottom: 24px;
        }

        & .note {
            padding: 12px 0 12px 24px;
            margin: 0 48px 24px 48px;
            font-size: 20px;
            line-height: 30px;

            & .note-desc {
                font-size: 15px;
                margin-bottom: 12px;
            }
        }

        & .img {
            margin: 24px 0;
            border-width: 1px;
            padding: 24px 0;
        
            & img {
                width: calc(100% - 384px);
                margin-bottom: 12px;
            }
        
            & .caption {
                font-size: 15px;
                padding: 0 48px;
            }
        
            & .open {
                font-size: 15px;
            }
        }
    }

    comm:hover {
        cursor: pointer;
    }
    
    err:hover {
        cursor: pointer;
    }
    
    .comm {
        margin: 0 48px 24px 48px;
    
        & .comm-date {
            font-size: 15px;
            margin-bottom: 612x;
        }
        
        & ol {
            margin-left: 72px;
            font-size: 20px;
        }
          
        & ol li {
            margin-bottom: 24px;
        }
    }

    #topnav2 {
        padding: 12px;
    
        & a {
            margin: 0 24px;
            font-size: 15px;
        }
    }

    #thread {
        background: var(--bg);
        margin: 24px 0;
        width: 100vw;
        border-width: 1px;
    
        & #comment-loading {
            font-size: 20px;
            padding: 12px 48px;
        }
    
        & #comments {
            & #no-comments {
                font-size: 20px;
                padding: 12px 48px;
            }
    
            & #some-comments {
                font-size: 20px;
                padding: 12px 48px;
            }
    
            & .hidden {
                font-size: 20px;
                padding: 12px 48px;
    
                & .unremove {
                    font-size: 15px;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
    
            & .comment {
                padding: 12px 48px;
    
                & .text {
                    font-size: 20px;
                    margin-bottom: 12px;
                }
    
                & .info {
                    font-size: 15px;
                    gap: 24px;
    
                    & .user-controls {
                        gap: 24px;

                        & *:hover {
                            cursor: pointer;
                        }
                    }
                }
    
                & #close-comments {
                    font-size: 15px;
                    top: 12px;
                    right: 48px;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    
        & #comment-input {
            padding: 24px 48px;
    
            #comment-instructions {
                font-size: 15px;
                margin-bottom: 12px;
            }
    
            & textarea {
                font-size: 20px;
                padding: 12px 24px;
                height: 200px;
            }
        }
    }
}

@media screen and (min-width: 900px) {
    .section {
        & h3 {
            margin-left: calc(50% - 450px);
        }
    }

    .retro {
        & .retro-timestamp {
            margin-left: calc(50% - 450px);
        }
    }

    .body {
        &>.lines>.textline, & .retro .textline {
            margin-right: calc(50% - 450px);
            margin-left: calc(50% - 450px);
            user-select: none;
            -webkit-user-select: none;
        }

        & .timestamp {
            left: calc(50% - 450px);
        }

        & .aside {
            margin-left: calc(50% - 450px);
            margin-right: calc(50% - 450px);
            user-select: none;
            -webkit-user-select: none;
        }

        & .note {
            margin: 24px calc(50% - 402px) 0 calc(50% - 402px);
            user-select: none;
            -webkit-user-select: none;
        }
    }

    & .img {
        margin: 24px calc(50% - 450px)!important;
    }
    
    #thread {
        margin: 24px calc(50% - 450px)!important;
        max-width: 900px!important;
    }

    .comm {
        margin-right: calc(50% - 450px);
        margin-left: calc(50% - 450px);
    }
}
