@import url("/style/universal.css");

body {
    padding: 24px;
}

h1 {
    font: bold 28px var(--serif);
    font-style: italic;
    margin-bottom: 24px;
    color: var(--content);
}

p {
    font: 14px var(--sans);
    margin-bottom: 12px;
    color: var(--content);
}

a {
    display: block;
    border: 1px solid var(--content);
    color: var(--content);
    padding: 8px 16px;
    font: 14px var(--sans);
}
