@import url("/style/universal.css");
@import url("/style/standard.css");

h2 {
    text-align: center;
    font: bold 28px var(--sans);
    color: var(--content);
    margin: 48px 24px;
}

.section {
    border-color: var(--gray);
    border-style: solid;
    border-width: 1px 0 0 0;
    padding: 6px 24px;
    background: var(--shadow);
    display: block;

    &:last-child, &:has(+ .new-entry) {
        border-bottom-width: 1px;
    }

    & h3 {
        font: 14px var(--serif);
        color: var(--content);
    }

    & .description {
        font: 11px var(--sans);
        color: var(--content);
        margin-right: 72px;
    }

    & .info {
        font: 11px var(--sans);
        color: var(--gray);
        margin-top: 6px;
        gap: 12px;

        display: flex;
        position: relative;

        & .unread {
            color: var(--content);
            position: absolute;
            right: 0;
        }
    }
}

.new-entry {
    margin-top: 12px;
}

@media screen and (min-width: 600px) {
    h2 {
        font-size: 40px;
        margin: 96px 48px;
    }

    .section {
        border-left-width: 1px;
        border-right-width: 1px;
        margin-left: calc(50% - 450px);
        margin-right: calc(50% - 450px);
        padding: 6px 24px;
    
        & h3 {
            font-size: 20px;
        }
    
        & .description {
            font-size: 15px;
            margin-right: 144px;
        }
    
        & .info {
            font-size: 15px;
            margin-top: 12px;
            gap: 24px;
        }
    }

    .new-entry {
        margin-top: 24px;
    }
}
