@import url("/style/universal.css");
@import url("/style/standard.css");

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#widgets {
    margin-top: 24px;
}

.widget {
    break-inside: avoid;
    padding-top: 24px;

    & h2 {
        margin: 0 24px 12px 24px;
        font: bold 21px var(--sans);
        color: var(--content);
    }
}

#recent-widget {
    & #recent-expand {
        background: none;
        font: 11px var(--sans);
        margin: 6px 24px 0 24px;
        color: var(--gray);
        border: none;
    }

    & #recent-carousel {
        padding: 12px 24px;
        display: flex;
        border-width: 1px 0px;
        border-color: var(--gray);
        border-style: solid;
        background: var(--shadow);
        width: 100%;
        overflow-x: scroll;
        scrollbar-width: none;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        gap: 12px;

        &::-webkit-scrollbar {
            display: none;
        }


        & .see-more {
            display: flex;
            align-items: center;
            justify-content: center;

            & p {
                font: 18px var(--sans);
                color: var(--gray);
            }
        }

        &.show-concise {
            & .section-info {
                height: 96px;

                & .volume, .summary, .details {
                    opacity: 0;
                    position: absolute;
                }

                & .description {
                    opacity: 1;
                }
            }

            & .previous {
                margin: 0;
                height: 0;
                opacity: 0;
                padding: 0 12px;
            }
        }
    }

    & .section {
        flex: 0 0 calc(100% - 24px);
        scroll-snap-align: center;
        position: relative;
        max-width: 320px;

        & .section-info {
            display: block;
            padding: 6px 12px;
            background: var(--bg);
            border: 1px solid var(--content);
            height: 168px;
            position: relative;
            transition: height 0.1s ease-out;
            overflow: hidden;

            & .volume {
                font: 14px var(--serif);
                color: var(--gray);
                opacity: 1;
                transition: opacity 0.1s ease-out;
            }

            & h3 {
                font: 18px var(--serif);
                color: var(--content);
                margin-bottom: 12px;
            }

            & .description, & .summary {
                font: 14px var(--sans);
                color: var(--content);
                margin-bottom: 12px;
                transition: opacity 0.1s ease-out;
            }

            & .summary {
                opacity: 1;
            }

            & .description {
                opacity: 0;
                position: absolute;
                padding-right: 12px;
            }

            & .details {
                font: 11px var(--sans);
                color: var(--gray);
                position: absolute;
                bottom: 6px;
                left: 12px;
                display: flex;
                gap: 12px;
                opacity: 1;
                transition: opacity 0.1s ease-out;
            }
        }

        & .unread-wrapper {
            margin-top: 6px;
            display: flex;
            align-items: flex-start;
        }

        & .unread {
            font: 11px var(--sans);
            color: var(--content);
        }

        & .skip {
            background: none;
            border: none;
            flex-grow: 1;
            text-align: right;
            font: 11px var(--sans);
            color: var(--gray);
        }

        & .read {
            font: 11px var(--sans);
            color: var(--gray);
            display: block;
            margin-top: 6px;
        }

        & .previous {
            margin-top: 12px;
            display: block;
            border: 1px solid var(--content);
            padding: 6px 12px;
            font: 11px var(--sans);
            height: 60px;
            opacity: 1;
            transition: height, margin, opacity, padding;
            transition-duration: 0.1s;
            
            -timing-function: ease-out;
            overflow: hidden;

            & .previous-label {
                color: var(--content);
            }
            
            & .previous-description {
                color: var(--gray);
            }
        }
    }
}

#library-widget, #extras-widget {
    .volumes {
        display: block;
        padding: 12px 24px;
        border-width: 1px 0;
        border-color: var(--gray);
        border-style: solid;
        background: var(--shadow);
    }

    & .volume {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
        padding: 12px 24px;
        border: 1px solid var(--content);
        position: relative;
        background: var(--bg);
    }

    & .volume + .volume {
        margin-top: 12px;
    }

    & h3 {
        font: 21px var(--serif);
        color: var(--content);
        text-align: center;
    }

    & h3:has(+ .subtitle) {
        padding: 0 24px 6px 24px;
        border-bottom: 1px solid var(--gray);
    }

    & .subtitle {
        font: 11px var(--sans);
        color: var(--gray);
        text-align: center;
    }

    & .volume-link {
        font: 11px var(--sans);
        color: var(--gray);
        text-align: center;
        margin-top: 12px;
        display: block;
    }
}

#last-widget {
    & .last-section {
        display: block;
        background: var(--bg);
        border: 1px solid var(--content);
        padding: 6px 12px;
        margin: 12px 24px;
        margin-bottom: 0;
        position: relative;

        & p {
            font: 14px var(--sans);
            color: var(--content);
        }

        & h3 {
            font: 18px var(--serif);
            color: var(--content);
            margin-bottom: 6px;
        }

        & .index {
            font: 11px var(--sans);
            color: var(--gray);
            margin-left: 6px;
        }

        & .info {
            font: 11px var(--sans);
            color: var(--gray);
            margin-top: 12px;
        }

        & .lastread {
            position: absolute;
            bottom: 6px;
            right: 12px;
            text-align: right;
        }

        &.nothing {
            border-color: var(--gray);
        }
    }

    & .see-profile {
        display: block;
        margin-left: 24px;
        margin-top: 6px;
        font: 11px var(--sans);
        color: var(--gray);
    }
}

#random-widget {
    & .entry {
        display: block;
        margin: 0 24px;
        padding: 6px 12px;
        background: var(--bg);
        border: 1px solid var(--content);
        position: relative;

        & .volume {
            font: 14px var(--serif);
            font-style: italic;
            color: var(--gray);
        }

        & h3 {
            font: 18px var(--serif);
            color: var(--content);
            margin-bottom: 6px;
        }

        & .summary {
            font: 14px var(--sans);
            color: var(--content);
            margin-bottom: 12px;
        }
    }

    & .label {
        margin: 0 24px;
        margin-top: 6px;
        font: 11px var(--sans);
        color: var(--gray);
    }
}

#search-widget {
    & #search-input {
        display: block;
        width: calc(100% - 48px);
        margin: 0 24px;
        padding: 6px 12px;
        background: var(--shadow);
        border: 1px solid var(--content);
        color: var(--content);
        font: 18px var(--sans);

        &::placeholder {
            color: var(--gray);
        }
    }

    & #search-footer {
        margin-left: 24px;
        margin-top: 6px;
        font: 11px var(--sans);
        color: var(--gray);
    }
}

#empty-widget {
    & p {
        font: 14px var(--sans);
        color: var(--content);
        padding: 0 24px;
        margin-bottom: 12px;
    }

    & a {
        background: none;
        font: 14px var(--sans);
        padding: 0 24px;
        color: var(--gray);
    }
}

#intro-widget {
    & .introduction {
        background: var(--shadow);
        border-width: 1px 0;
        border-color: var(--gray);
        border-style: solid;
        padding: 12px 24px;
        color: var(--content);
        font: 14px var(--serif);
        line-height: 21px;
        
        & p + p {
            margin-top: 12px;
        }
    }
}

#conversations-widget {
    & .no-threads {
        margin: 0 24px;
        font: 14px var(--sans);
        color: var(--content);
        border: 1px solid var(--gray);
        padding: 6px 12px;
    }

    & #threads-carousel {
        padding: 12px 24px;
        display: flex;
        border-width: 1px 0px;
        border-color: var(--gray);
        border-style: solid;
        background: var(--shadow);
        width: 100%;
        overflow-x: scroll;
        scrollbar-width: none;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        gap: 12px;

        & .thread {
            flex: 0 0 calc(100% - 24px);
            scroll-snap-align: center;
            position: relative;
            max-width: 320px;
            border: 1px solid var(--content);
            height: 320px;
            display: flex;
            flex-direction: column;

            & .title {
                padding: 6px 12px;
                font: 14px var(--serif);
                color: var(--content);
                border-bottom: 1px solid var(--content);

                & .index {
                    font: 11px var(--sans);
                    color: var(--gray);
                    margin-left: 12px;
                }
            }

            & .body {
                height: 50%;
                padding: 6px 12px;
                border-bottom: 1px solid var(--content);
                overflow-y: auto;
                color: var(--gray);
                font: 11px var(--serif);
                background: var(--bg);

                & .line + .line {
                    margin-top: 6px;
                }

                & .highlight {
                    color: var(--content);
                }
            }

            & .more {
                padding: 6px 12px;
                font: 14px var(--sans);
                text-align: center;
                color: var(--gray);
                border-bottom: 1px solid var(--gray);
            }

            & .comment {
                position: relative;
                padding: 6px 12px;
                flex-grow: 1;

                & .text {
                    font: 14px var(--sans);
                    color: var(--content);
                }

                & .info {
                    position: absolute;
                    bottom: 6px;
                    left: 12px;
                    display: flex;
                    font: 11px var(--sans);
                    color: var(--gray);
                    gap: 12px;
                }
            }
        }
    }
}

@media screen and (min-width: 1300px) {
    #widgets-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 600px) {
    #widgets {
        margin-top: 48px;
        columns: 600px auto;
        column-gap: 48px;
        max-width: 1300px;
    }
    
    .widget {
        padding-top: 48px;

        & h2 {
            margin: 0 48px 24px 48px;
            font-size: 30px;
        }
    }

    #recent-widget {
        column-span: all;

        & #recent-expand {
            font-size: 15px;
            margin: 12px 48px 0 48px;

            &:hover {
                cursor: pointer;
            }
        }
    
        & #recent-carousel {
            padding: 24px 48px;
            border-width: 1px;
            gap: 24px;
    
            & .see-more p {
                font-size: 25px;
            }
    
            &.show-concise {
                & .section-info {
                    height: 140px;
                }
    
                & .previous {
                    padding: 0 24px;
                }
            }
        }
    
        & .section {
            flex: 0 0 calc(100% - 48px);
            max-width: 500px;
    
            & .section-info {
                padding: 12px 24px;
                height: 240px;
    
                & .volume {
                    font-size: 20px;
                }
    
                & h3 {
                    font-size: 25px;
                    margin-bottom: 24px;
                }
    
                & .description, & .summary {
                    font-size: 20px;
                    margin-bottom: 24px;
                }
    
                & .description {
                    padding-right: 24px;
                }
    
                & .details {
                    font-size: 15px;
                    bottom: 12px;
                    left: 24px;
                    gap: 24px;
                }
            }
    
            & .unread-wrapper {
                margin-top: 12px;
            }
    
            & .unread {
                font-size: 15px;
            }
    
            & .skip {
                font-size: 15px;

                &:hover {
                    cursor: pointer;
                }
            }
    
            & .read {
                font-size: 15px;
                margin-top: 12px;
            }
    
            & .previous {
                margin-top: 24px;
                padding: 12px 24px;
                font-size: 15px;
                height: 85px;
            }
        }
    }

    #library-widget, #extras-widget {
        .volumes {
            padding: 24px 48px;
            border-width: 1px;
        }
    
        & .volume {
            gap: 12px;
            padding: 24px 48px;
        }
    
        & .volume + .volume {
            margin-top: 24px;
        }
    
        & h3 {
            font-size: 30px;
        }
    
        & h3:has(+ .subtitle) {
            padding: 0 48px 12px 48px;
        }
    
        & .subtitle {
            font-size: 15px;
        }
    
        & .volume-link {
            font-size: 15px;
            margin-top: 12px;
        }
    }

    #last-widget {
        & .last-section {
            padding: 12px 24px;
            margin: 24px 48px;

            & p {
                font-size: 20px;
            }
    
            & h3 {
                font-size: 25px;
                margin-bottom: 12px;
            }
    
            & .index {
                font-size: 15px;
                margin-left: 12px;
            }
    
            & .info {
                font-size: 15px;
                margin-top: 24px;
            }
    
            & .lastread {
                bottom: 12px;
                right: 24px;
            }
        }
    
        & .see-profile {
            margin-left: 48px;
            margin-top: 12px;
            font-size: 15px;
        }
    }

    #random-widget {
        & .entry {
            margin: 0 48px;
            padding: 12px 24px;
    
            & .volume {
                font-size: 20px;
            }
    
            & h3 {
                font-size: 25px;
                margin-bottom: 12px;
            }
    
            & .summary {
                font-size: 20px;
                margin-bottom: 24px;
            }
        }
    
        & .label {
            margin: 0 48px;
            margin-top: 12px;
            font-size: 15px;
        }
    }

    #search-widget {
        & #search-input {
            width: calc(100% - 96px);
            margin: 0 48px;
            padding: 12px 24px;
            font-size: 25px;
        }
    
        & #search-footer {
            margin-left: 48px;
            margin-top: 12px;
            font-size: 15px;
        }
    }

    #empty-widget {
        & p {
            font-size: 20px;
            padding: 0 48px;
            margin-bottom: 24px;
        }
    
        & a {
            font-size: 20px;
            padding: 0 48px;
        }
    }

    #intro-widget {
        max-width: 900px;
        
        & .introduction {
            break-inside: avoid-page;

            border-width: 1px;
            padding: 24px 48px;
            font-size: 20px;
            line-height: 30px;
            
            & p + p {
                margin-top: 24px;
            }
        }
    }

    #conversations-widget {
        & .no-threads {
            margin: 0 48px;
            font-size: 20px;
            padding: 12px 24px;
        }
    
        & #threads-carousel {
            padding: 24px 48px;
            border-width: 1px;
            gap: 24px;
    
            & .thread {
                flex: 0 0 calc(100% - 48px);
                max-width: 500px;
                height: 500px;
    
                & .title {
                    padding: 12px 24px;
                    font-size: 20px;
    
                    & .index {
                        font-size: 15px;
                        margin-left: 24px;
                    }
                }
    
                & .body {
                    padding: 12px 24px;
                    font-size: 15px;
    
                    & .line + .line {
                        margin-top: 12px;
                    }
                }
    
                & .more {
                    padding: 12px 24px;
                    font-size: 20px;
                }
    
                & .comment {
                    padding: 12px 24px;
    
                    & .text {
                        font-size: 20px;
                    }
    
                    & .info {
                        bottom: 12px;
                        left: 24px;
                        font-size: 15px;
                        gap: 24px;
                    }
                }
            }
        }
    }
}
