@import url("/style/universal.css");
@import url("/style/standard.css");

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.widget {
    margin-top: 24px;

    & h2 {
        margin: 0 24px 12px 24px;
        font: bold 21px var(--sans);
        color: var(--content);
    }
}

#empty-widget {
    & p {
        font: 14px var(--sans);
        color: var(--content);
        padding: 0 24px;
        margin-bottom: 12px;
    }

    & a {
        background: none;
        font: 14px var(--sans);
        padding: 0 24px;
        color: var(--gray);
    }
}

#recent-widget {
    & #recent-expand {
        background: none;
        font: 11px var(--sans);
        margin: 6px 24px 0 24px;
        color: var(--gray);
        border: none;
    }

    & #recent-carousel {
        padding: 12px 24px;
        display: flex;
        border-width: 1px 0px;
        border-color: var(--gray);
        border-style: solid;
        background: var(--shadow);
        width: 100%;
        overflow-x: scroll;
        scrollbar-width: none;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;

        &::-webkit-scrollbar {
            display: none;
        }

        gap: 12px;

        &.show-concise {
            & .section-info {
                height: 96px;

                & .volume, .summary, .details {
                    opacity: 0;
                    position: absolute;
                }

                & .description {
                    opacity: 1;
                }
            }

            & .previous {
                margin: 0;
                height: 0;
                opacity: 0;
                padding: 0 12px;
            }
        }
    }

    & .section {
        flex: 0 0 calc(100% - 24px);
        scroll-snap-align: center;
        position: relative;

        & .section-info {
            display: block;
            padding: 6px 12px;
            background: var(--bg);
            border: 1px solid var(--content);
            height: 168px;
            position: relative;
            transition: height 0.1s ease-out;
            overflow: hidden;

            & .volume {
                font: 14px var(--serif);
                font-style: italic;
                color: var(--gray);
                opacity: 1;
                transition: opacity 0.1s ease-out;
            }

            & h3 {
                font: 18px var(--serif);
                color: var(--content);
                margin-bottom: 12px;
            }

            & .description, & .summary {
                font: 14px var(--sans);
                color: var(--content);
                margin-bottom: 12px;
                transition: opacity 0.1s ease-out;
            }

            & .summary {
                opacity: 1;
            }

            & .description {
                opacity: 0;
                position: absolute;
                padding-right: 12px;
            }

            & .details {
                font: 11px var(--sans);
                color: var(--gray);
                position: absolute;
                bottom: 6px;
                left: 12px;
                display: flex;
                gap: 12px;
                opacity: 1;
                transition: opacity 0.1s ease-out;
            }
        }

        & .unread-wrapper {
            margin-top: 6px;
            display: flex;
        }

        & .unread {
            font: 11px var(--sans);
            color: var(--content);
        }

        & .skip {
            background: none;
            border: none;
            flex-grow: 1;
            text-align: right;
            font: 11px var(--sans);
            color: var(--gray);
        }

        & .read {
            font: 11px var(--sans);
            color: var(--gray);
            margin-top: 6px;
        }

        & .previous {
            margin-top: 12px;
            display: block;
            border: 1px solid var(--content);
            padding: 6px 12px;
            font: 11px var(--sans);
            height: 60px;
            opacity: 1;
            transition: height, margin, opacity, padding;
            transition-duration: 0.1s;
            transition-timing-function: ease-out;
            overflow: hidden;

            & .previous-label {
                color: var(--content);
            }
            
            & .previous-description {
                color: var(--gray);
            }
        }
    }
}

#library-widget {
    .volumes {
        display: block;
        padding: 12px 24px;
        border-width: 1px 0;
        border-color: var(--gray);
        border-style: solid;
        background: var(--shadow);
    }

    & .volume {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
        padding: 12px 24px;
        border: 1px solid var(--content);
        position: relative;
        background: var(--bg);
    }

    & .volume + .volume {
        margin-top: 12px;
    }

    & h3 {
        font: 21px var(--serif);
        color: var(--content);
        text-align: center;
    }

    & h3:has(+ .subtitle) {
        padding: 0 24px 6px 24px;
        border-bottom: 1px solid var(--gray);
    }

    & .subtitle {
        font: 11px var(--sans);
        color: var(--gray);
        text-align: center;
    }
}

#intro-widget {
    & .introduction {
        background: var(--shadow);
        border-width: 1px 0;
        border-color: var(--gray);
        border-style: solid;
        padding: 12px 24px;
        color: var(--content);
        font: 15px var(--serif);
        line-height: 22px;
        /* text-align: justify; */
        
        & p + p {
            margin-top: 12px;
        }
    }
}
