@import url("/style/universal.css");
@import url("/style/standard.css");

h2 {
    text-align: center;
    font: bold 28px var(--sans);
    color: var(--content);
    margin: 48px 24px;
}

.volume+.volume {
    margin-top: 24px;
}

h3 {
    margin-left: 24px;
    font: 18px var(--serif);
    color: var(--content);
}

p.subtitle {
    font: 14px var(--sans);
    color: var(--gray);
    margin-left: 24px;
}

.entries {
    margin-top: 6px;

    background: var(--shadow);
    border-width: 1px 0;
    border-color: var(--gray);
    border-style: solid;
    padding: 12px 24px;

    width: 100%;
    overflow-x: scroll;
    scrollbar-width: none;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;

    display: flex;
    gap: 12px;

    &::-webkit-scrollbar {
        display: none;
    }

    & .entry-wrapper {
        flex: 0 0 calc(100% - 24px);
        scroll-snap-align: center;
    }

    & .volume-part {
        font: 14px var(--serif);
        color: var(--gray);
        margin-top: 6px;
        font-style: italic;
    }

    & .entry {
        display: block;
        height: 108px;
        padding: 6px 12px;
        position: relative;
        background: var(--bg);
        border: 1px solid var(--content);

        & h4 {
            font: 18px var(--serif);
            color: var(--content);
            margin-bottom: 6px;
        }

        & .description {
            font: 14px var(--sans);
            color: var(--content);
        }

        & .info {
            position: absolute;
            bottom: 6px;
            left: 12px;
            font: 11px var(--sans);
            color: var(--gray);
            display: flex;
            width: calc(100% - 24px);

            & .incomplete,
            & .complete {
                flex-grow: 1;
                text-align: right;
            }

            & .complete {
                color: var(--content);
            }
        }
    }
}

#search-drawer>div {
    height: 60vh;
    display: flex;
    gap: 12px;
    flex-direction: column;
    padding: 12px 24px 0 24px;

    & .search-box {
        & p {
            font: 14px var(--sans);
            color: var(--content);
            margin-bottom: 6px;
        }

        & input {
            font: 14px var(--sans);
            color: var(--content);
            width: 100%;
            padding: 6px 12px;
            background: var(--shadow);
            border: 1px solid var(--content);
        }
    }

    & .results {
        border-width: 1px 0 0 0;
        border-color: var(--content);
        border-style: solid;
        padding: 12px 24px;
        flex-grow: 1;
        overflow-y: scroll;
        scrollbar-width: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* gap: 12px; */

        & .no-results,
        & .lesser-results,
        & .see-more {
            font: 14px var(--sans);
            color: var(--gray);
            text-align: center;
        }

        & .see-more-button {
            font: 14px var(--sans);
            padding: 6px 12px;
            background: var(--bg);
            border: 1px solid var(--content);
            color: var(--content);
            text-align: center;
            margin-top: 6px;
        }

        & .result:not(:first-child),
        & .see-more:not(:first-child) {
            margin-top: 12px;
        }

        & .lesser-results:not(:first-child) {
            margin-top: 12px;
            padding-top: 6px;
            width: 100%;
            border-top: 1px solid var(--content);
            color: var(--content);
        }

        & .result {
            width: 100%;
            
            & .label {
                font: 11px var(--sans);
                color: var(--gray);
                margin-bottom: 3px;
            }

            & .result-info {
                display: block;
                border: 1px solid var(--content);
                background: var(--bg);
                padding: 6px 12px;
            }

            & h4 {
                font: 14px var(--serif);
                color: var(--content);
            }
            
            & .details {
                font: 11px var(--sans);
                color: var(--gray);
                margin: 0;

                & b {
                    font-weight: normal;
                    color: var(--content);
                }
            }
        }
    }
}

@media screen and (min-width: 600px) {
    h2 {
        font-size: 40px;
        margin: 96px 48px;
    }

    #volumes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .volume {
        break-inside: avoid;
        max-width: 100vw;
    }

    .volume+.volume {
        margin-top: 48px;
    }

    h3 {
        max-width: 900px;
        margin-left: max(48px, calc(50% - 650px));
        font-size: 25px;
    }

    p.subtitle {
        font-size: 20px;
        margin-left: max(48px, calc(50% - 650px));
    }

    .entries {
        margin-top: 12px;

        border-width: 1px;
        padding: 24px max(48px, calc(50% - 650px));

        gap: 24px;

        & .entry-wrapper {
            flex: 0 0 calc(100% - 48px);
        }

        & .volume-part {
            font-size: 20px;
            margin-top: 12px;
        }

        & .entry-wrapper {
            max-width: 450px;
        }

        & .entry {
            padding: 12px 24px 48px 24px;
            height: 160px;

            & h4 {
                font-size: 25px;
                margin-bottom: 12px;
            }

            & .description {
                font-size: 20px;
            }

            & .info {
                bottom: 12px;
                left: 24px;
                font-size: 15px;
                width: calc(100% - 48px);
            }
        }
    }

    #search-drawer>div {
        height: 60vh;
        gap: 24px;
        padding: 24px calc(50% - 650px) 0 calc(50% - 650px);

        & .search-box {
            & p {
                font-size: 20px;
                margin-bottom: 12px;
            }

            & input {
                font-size: 20px;
                width: 100%;
                padding: 12px 24px;
            }
        }

        & .results {
            border-width: 1px 0 0 0;
            padding: 24px calc(50% - 300px);
            overflow-y: scroll;

            & .no-results,
            & .lesser-results,
            & .see-more {
                font-size: 20px;
            }

            & .see-more-button {
                font-size: 20px;
                padding: 12px 24px;
                margin-top: 12px;
            }

            & .result:not(:first-child),
            & .see-more:not(:first-child) {
                margin-top: 24px;
            }

            & .lesser-results:not(:first-child) {
                margin-top: 24px;
                padding-top: 12px;
            }

            & .result {
                & .label {
                    font-size: 15px;
                    margin-bottom: 6px;
                }

                & .result-info {
                    padding: 12px 24px;
                }

                & h4 {
                    font-size: 20px;
                }


                & .details {
                    font-size: 15px;
                }
            }
        }
    }
}
