@import url("/style/universal.css");

body {
    padding: 24px;
}

h1 {
    font: bold 28px var(--serif);
    font-style: italic;
    margin-bottom: 24px;
    color: var(--content);
}

p {
    font: 14px var(--sans);
    margin-bottom: 12px;
    color: var(--content);
}

ul {
    list-style: none;
    padding: 12px 0;
}

li + li {
    margin-top: 12px;
}

label {
    font: 14px var(--sans);
    margin-right: 12px;
    width: 128px;
    display: inline-block;
    text-align: right;
    color: var(--content);
}

input {
    font: 14px var(--serif);
    padding: 6px 12px;
}

input, button {
    border: 1px solid var(--content);
    color: var(--content);
    background: none;
}

button {
    margin-left: 140px;
    padding: 6px 12px;
    font: bold 14px var(--sans);
}

#error-msg {
    color: red;
}

@media screen and (min-width: 600px) {
    body {
        padding: 48px;
    }

    h1 {
        font-size: 40px;
        margin-bottom: 48px;
    }
    
    p {
        font-size: 20px;
        margin-bottom: 24px;
        max-width: 900px;
    }
    
    ul {
        padding: 24px 0;
    }
    
    li + li {
        margin-top: 24px;
    }
    
    label {
        font-size: 20px;
        margin-right: 24px;
        width: 160px;
    }
    
    input {
        font-size: 20px;
        padding: 12px 24px;
    }
    
    button {
        margin-left: 184px;
        padding: 12px 24px;
        font-size: 20px;
    }
}
