@import url("/style/universal.css");
@import url("/style/standard.css");

h2 {
    text-align: center;
    font: bold 28px var(--sans);
    color: var(--content);
    margin: 48px 24px 6px 24px;
}

.subtitle {
    display: block;
    text-align: center;
    font: 14px var(--sans);
    color: var(--gray);
    margin-bottom: 48px;
}

#album-of-the-month {
    border-width: 1px 0;
    border-color: var(--gray);
    border-style: solid;
    padding: 12px 24px;
    background: var(--shadow);
    display: flex;
    flex-direction: column;
    align-items: center;

    & .label {
        font: 14px var(--sans);
        color: var(--gray);
        margin-bottom: 6px;
    }

    & img {
        width: 40vw;
        margin-bottom: 12px;
        border: 1px solid var(--content);
    }

    & .album-title {
        font: bold 28px var(--serif);
        color: var(--content);
        font-style: italic;
    }

    & .album-artist {
        font: 18px var(--serif);
        color: var(--gray);
        margin-bottom: 24px;
    }

    & .listen {
        font: 11px var(--sans);
        color: var(--gray);
    }
}

h3 {
    margin: 24px 24px 12px 24px;
    font: bold 21px var(--sans);
    color: var(--content);
}

#runners-up {
    & .runner-up {
        border-width: 1px 0;
        border-color: var(--gray);
        border-style: solid;
        padding: 12px 24px;
        background: var(--shadow);
    }

    & .runner-up + .runner-up {
        border-top: none;
    }

    & h4 {
        font: bold 21px var(--serif);
        font-style: italic;
        color: var(--content);
        line-height: 1;
    }

    & .album-subtitle {
        display: flex;
        flex-wrap: wrap;

        & .album-artist {
            font: 14px var(--serif);
            color: var(--gray);
            margin-right: 24px;
        }
    }

    & .album-inline {
        margin: 6px 0;
        display: flex;
        gap: 12px;

        & img {
            width: 30vw;
            height: 30vw;
            border: 1px solid var(--content);
        }

        & .album-info {
            flex: 1;
        }
    }

    & .album-footer {
        display: flex;
        align-items: stretch;
        font: 11px var(--sans);
        color: var(--gray);

        & *:first-child {
            flex: 1;
        }

        & .listen-link {
            text-decoration: underline;
        }

        & .review {
            font: 11px var(--sans);
            color: var(--content);
        }
    }
}

#tracks {
    & .track-of-the-month {
        border-width: 1px 0;
        border-color: var(--gray);
        border-style: solid;
        padding: 12px 24px;
        background: var(--shadow);
    }

    & .track-of-the-month + .track-of-the-month {
        border-top: none;
    }

    & h4 {
        font: bold 21px var(--serif);
        color: var(--content);
        line-height: 1;
    }

    & .track-subtitle {
        display: flex;
        flex-wrap: wrap;

        & .track-artist {
            font: 14px var(--serif);
            color: var(--gray);
            margin-right: 24px;
        }
    }

    & .track-inline {
        margin: 6px 0;
        display: flex;
        gap: 12px;

        & img {
            width: 30vw;
            height: 30vw;
            border: 1px solid var(--content);
        }

        & .track-info {
            flex: 1;
        }
    }

    & .track-footer {
        display: flex;
        align-items: stretch;
        font: 11px var(--sans);
        color: var(--gray);

        & *:first-child {
            flex: 1;
        }

        & .listen-link {
            text-decoration: underline;
        }

        & .review {
            font: 11px var(--sans);
            color: var(--content);
        }
    }
}

#review {
    width: 100%;
    
    & .line {
        font: 14px var(--serif);
        line-height: 21px;
        color: var(--content);
        margin-bottom: 12px;
    }

    & .track-embed {
        & .title {
            text-decoration: underline;
        }

        & .score-rating {
            font-size: inherit!important;
            font-weight: bold!important;
            margin-left: 6px!important;
            display: inline!important;

            & .explanation {
                display: none;
            }
        }
    }
}

.score-rating {
    font: bold 28px var(--serif);

    color: var(--gray);

    &.great {
        color: var(--content);
    }

    &.none {
        color: var(--gray);
        font-weight: normal;
    }

    & .explanation {
        font: 25px var(--serif);
        margin-left: 12px;
        font-style: italic;
    }

    &.perfect {
        background: linear-gradient(to top left, #fc9d03, #fceb03);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}