@import url("/style/universal.css");
@import url("/style/standard.css");

h2 {
    text-align: center;
    font: bold 28px var(--sans);
    color: var(--content);
    margin: 48px 24px;
}

#months-in-review {
    padding: 12px 24px;
    display: flex;
    border-width: 1px 0px;
    border-color: var(--gray);
    border-style: solid;
    background: var(--shadow);
    width: 100%;
    overflow-x: scroll;
    scrollbar-width: none;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    gap: 12px;

    &::-webkit-scrollbar {
        display: none;
    }

    & .month-in-review {
        background: var(--bg);
        border: 1px solid var(--content);
        padding: 6px 12px;

        flex: 0 0 calc(100% - 24px);
        max-width: calc(100% - 24px);
        scroll-snap-align: center;

        & h3 {
            font: bold 21px var(--sans);
            color: var(--content);
        }

        & .album-of-the-month {
            margin-top: 12px;
            display: flex;
            flex-direction: row;
            gap: 12px;

            & img {
                width: 30vw;
                height: 30vw;
                border: 1px solid var(--content);
            }

            & .album-info {
                flex: 1;
            }

            & h4 {
                font: bold 21px var(--serif);
                color: var(--content);
                line-height: 1;
                font-style: italic;
            }

            & .album-subtitle {
                font: 11px var(--sans);
                color: var(--gray);
                margin-bottom: 6px;
            }

            & .album-artist {
                margin-top: 6px;
                font: 14px var(--serif);
                color: var(--gray);
            }
        }

        & .footer {
            margin-top: 6px;
            text-align: center;
            font: 11px var(--sans);
            color: var(--gray);
        }
    }
}

h3.section-header {
    margin: 24px 24px 12px 24px;
    font: bold 21px var(--sans);
    color: var(--content);
}

#albums {
    & .album {
        border-width: 1px 0;
        border-color: var(--gray);
        border-style: solid;
        padding: 12px 24px;
        background: var(--shadow);
    }

    & .album + .album {
        border-top: none;
    }

    & h4 {
        font: bold 21px var(--serif);
        font-style: italic;
        color: var(--content);
        line-height: 1;
    }

    & .album-subtitle {
        display: flex;
        flex-wrap: wrap;

        & .album-artist {
            font: 14px var(--serif);
            color: var(--gray);
            margin-right: 24px;
        }

        & .album-genre {
            font: 14px var(--sans);
            color: var(--gray);
        }
    }

    & .album-inline {
        margin: 6px 0;
        display: flex;
        gap: 12px;

        & img {
            width: 30vw;
            height: 30vw;
            border: 1px solid var(--content);
        }

        & .album-info {
            flex: 1;

            & .score-rating {
                font: bold 28px var(--serif);

                color: var(--gray);

                &.great {
                    color: var(--content);
                }

                &.none {
                    color: var(--gray);
                    font-weight: normal;
                }

                & .explanation {
                    font: 25px var(--serif);
                    margin-left: 12px;
                    font-style: italic;
                }

                &.perfect {
                    background: linear-gradient(to top left, #fc9d03, #fceb03);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }

            & .summary {
                font: 11px var(--sans);
                color: var(--gray);
            }

            & .review {
                font: 11px var(--sans);
                color: var(--content);
            }
        }
    }

    & .album-footer {
        display: flex;
        align-items: stretch;
        font: 11px var(--sans);
        color: var(--gray);

        & *:first-child {
            flex: 1;
        }

        & .listen-link {
            text-decoration: underline;
        }
    }
}
