body.lock-scroll {
    overflow-y: hidden;
}

#header {
    background: var(--clearbg);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: absolute;
    width: 100%;
    z-index: 5;

    &.open {
        border-bottom: 1px solid var(--content);
    }

    & #topdrawer {
        opacity: 0;
        display: none;
        transition: opacity 0.1s ease;
        max-height: 60vh;
        flex-direction: column;

        & .drawer-close {
            position: absolute;
            bottom: 12px;
            right: 12px;
            font: 11px var(--sans);
            color: var(--gray);
            z-index: 3;
        }
    }
}

h1 {
    font: bold 28px var(--serif);
    font-style: italic;
    text-align: center;
    padding: 36px 0 24px 0;
    color: var(--content);
    width: 100%;
    transition: 0.2s ease;
    transition-property: padding;
    display: block;

    & .forcesmall {
        font-size: 21px;
    }

    & span {
        transition: opacity 0.1s ease;
        opacity: 1;
    }

    & .page-title-ref {
        font-size: 21px;
        font-weight: normal;
        font-style: normal;
    }
}

.scrolled-past {
    #header {
        position: fixed;
        border-bottom: 1px solid var(--content);
    }

    & h1 {
        padding: 12px 0;
        font-size: 21px;
        top: 0;
        left: 0;
        z-index: 3;
    }

    & #topnav {
        opacity: 0;
    }
}

main {
    padding-top: 100px;
    margin-bottom: 48px;
}

#topnav {
    padding: 6px;
    border-style: solid;
    border-color: var(--content);
    border-width: 1px 0;
    background: var(--shadow);
    text-align: center;
    opacity: 1;
    transition: opacity 0.1s;

    & a {
        margin: 0 12px;
        font: 11px var(--sans);
        color: var(--content);
    }
}

#drawer {
    position: fixed;
    display: none;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--clearbg);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-top: 1px solid var(--content);

    & .drawer-close {
        position: absolute;
        top: 12px;
        right: 24px;
        font: 11px var(--sans);
        color: var(--gray);
        z-index: 3;
    }

    & .notification {
        display: none;
        opacity: 0;
        transition: opacity 0.1s ease;
        padding: 6px 12px;

        & .text {
            font: 11px var(--sans);
            color: var(--content);
        }

        & .open {
            flex-grow: 1;
            text-align: right;
            font: 11px var(--sans);
            color: var(--content);
        }
    }

    &>div {
        display: none;
        opacity: 0;
        transition: opacity 0.1s ease;
    }
}

#sectionnav {
    overflow-y: auto;
    margin: 0 24px;
    padding: 12px;
    border-top: 1px solid var(--content);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    & h3 {
        font: bold 14px var(--serif);
        color: var(--content);
    }

    & .topsection {
        padding: 6px 12px;
        border: 1px solid var(--content);
        background: var(--bg);

        & .summary {
            font: 11px var(--sans);
            color: var(--content);
        }

        &.missing {
            border-color: var(--gray);

            & .summary {
                color: var(--gray);
            }
        }

        & .status {
            margin-top: 6px;
            font: 11px var(--sans);
            color: var(--gray);
            display: flex;
            position: relative;

            & .unread {
                color: var(--content);
                text-align: right;
                flex-grow: 1;
            }
        }
    }
}

@media screen and (min-width: 600px) {
    #topdrawer {
        & .drawer-close {
            bottom: 24px!important;
            right: 24px!important;
            font-size: 15px!important;

            &:hover {
                cursor: pointer;
            }
        }
    }

    h1 {
        font-size: 40px;
        padding: 72px 0 48px 0;

        &:hover {
            cursor: pointer;
        }

        & .page-title-ref {
            font-size: 30px;
        }
    }

    & .forcesmall {
        font-size: 30px;
    }

    .scrolled-past {
        & h1 {
            padding: 24px 0;
            font-size: 30px;
        }
    }

    main {
        padding-top: 175px;
        margin-bottom: 96px;
    }

    #topnav {
        padding: 12px;

        & a {
            margin: 0 24px;
            font: 15px var(--sans);
        }
    }

    #drawer {
        & .drawer-close {
            top: 24px;
            right: 48px;
            font-size: 15px;

            &:hover {
                cursor: pointer;
            }
        }

        & .notification {
            padding: 12px 24px;

            & .text {
                font-size: 20px;
            }

            & .open {
                font-size: 15px;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    #sectionnav {
        margin: 0 48px;
        padding: 24px;
        gap: 24px;

        & h3 {
            font-size: 20px;
        }

        & .topsection {
            padding: 12px 24px;

            & .summary {
                font-size: 15px;
            }

            & .status {
                margin-top: 12px;
                font-size: 15px;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}

@media screen and (min-width: 900px) {
    #sectionnav .topsection {
        width: 600px;
    }
}
