@import url("/style/universal.css");

body {
    padding: 24px;
}

h1 {
    color: var(--content);
    font: 18px var(--sans);
    margin-bottom: 12px;
}

input, button {
    color: var(--content);
    font: 14px var(--sans);
    text-align: left;
}

p, li, textarea {
    color: var(--content);
    font: 11px var(--sans);
    text-align: left;
}

li + li {
    margin-top: 6px;
}

label {
    color: var(--gray);
    font: 11px var(--sans);
    margin-bottom: 6px;
    text-align: left;
}

input, textarea, button {
    padding: 6px 12px;
    width: 100%;
    background: var(--bg);

    &::placeholder {
        color: var(--gray);
    }
}

button {
    border: 1px solid var(--content);
}

input, textarea {
    border: 1px solid var(--gray);
}

ul {
    margin-left: 12px;
    margin-bottom: 12px;
}

p, input, textarea, button {
    margin-bottom: 12px;
}

textarea {
    height: 60px;
}

label, input, textarea {
    display: block;
}

#command {
    margin-bottom: 6px;
    font-family: var(--mono);
}

#invalid-command {
    margin-bottom: 24px;
    color: red;
}

#forbidden {
    color: red;
}

img {
    width: 100%;
    margin-bottom: 24px;
}

#image-feedback p {
    margin-bottom: 0;
}

#contents {
    height: 400px;
}

#processing {
    display: none;
}
