@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --serif: "PT Serif";
    --sans: "Inter";
    --white: #fafbfc;
    --nearwhite: #fafbfcd0;
    --gray: #9da1a5;
    --black: #10181f;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}
